<form action="{% url 'confirmation' %}" method="post">
  {% csrf_token %}
  <input type="hidden" value="{{reservation_date}}" name="reservation_date" id="reservation_date" />
  <input type="hidden" value="{{time_slot}}" name="time_slot" id="time_slot" />
  <input type="hidden" value="{{number_of_guests}}" name="number_of_guests" id="number_of_guests" />
  <input
    type="text"
    id="first_name"
    name="first_name"
    placeholder="First Name"
  />
  <br />
  <input type="text" id="last_name" name="last_name" placeholder="Last Name" />
  <br />
  <input type="text" id="email" name="email" placeholder="Email" />
  <br />
  <input type="text" id="phone" name="phone" placeholder="Phone" />
  <br />
  <input type="submit" value="Confirm" />
</form>
