<form action="" method="post">
  <input type="hidden" value="{{reservation_date}}" />
  <input type="hidden" value="{{time_slot}}" />
  <input type="hidden" value="{{number_of_guests}}" />
  <input
    type="text"
    id="first_name"
    name="first_name"
    placeholder="First Name"
  />
  <input type="text" id="last_name" name="last_name" placeholder="Last Name" />
  <input type="text" id="email" name="email" placeholder="Email" />
  <input type="text" id="phone" name="phone" placeholder="Phone" />
</form>
