<form action="{% url 'customer_details' %}" method="post">
  <input
    type="date"
    name="reservation_date"
    id="reservation_date"
    placeholder="yyyy-mm-dd"
  />
  <select name="time_slot" id="time_slot">
    {% for t in time_slot_list %}
    <option value="{{t.id}}">{{t.value}}</option>
    {% endfor%}
  </select>
  <select name="number_of_guests" id="number_of_guests">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>
</form>
