{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-image">
    <img src="{% static 'images/restuarant.jpeg' %}" class="img-fluid" alt="Hero Image">
</div>
<div class="container-fluid px-5">
    <hr>
    <h2>About</h2>
    <p>The Dine Restaurant is a beautifully classic, yet stylish and relaxed all-day dining restaurant in the heart of
        The Stockholm,Sweden.

        we want our guests to feel well taken care of and to be served good food. Our philosophy is simplicity and
        quality.

        We look forward to welcoming you.</p>
    <hr>
</div>
<div class="px-5">
    <div class="col-sm-4 my-3">
        <img src="{% static 'images/chef_1.jpeg' %}" class="img-fluid" alt="Image of a chef"/>
    </div>
    <div>
        <p>
            Restaurateur karl Johan creates together with
            chef Magnus Daniellson a menu where the flavors
            of the season are clearly displayed. All
            ingredients are carefully selected and we work as closely as possible with nearby producers.
        </p>
        <p>
            In the dining room, you are looked after by fellow restaurateur and restaurant manager Linus Ljunquist.
            Together with his dining room team, he has made wine suggestions for each dish and is responsible for a
            solid wine list with over 800 different wines.
            Karl Johan and Linus Ljungquist with staff
        </p>
    </div>
    <hr class="my-3">
</div>
<div class="justify-content-center p-5">
    <div class="col-md-5 pb-5">
        <h2>Opening Hours</h2>
        <div>
            Monday - Friday<br>
            16:00pm - 00:00am<br>

            Saturday<br>
            16:00pm - 00:00am<br>

            Sunday<br>
            16:00pm - 00:00am<br>
        </div>
    </div>

    <div class="col-md-5">
        <h2>Contact Us</h2>
        <div>
            <div>
                The Dine Restaurant<br/>
                kungsgatan 1213<br/>
                Stockholm<br/>
                Sweden<br/>
            </div>
            <div>+46 123 256 56</div>
            <div>thedinerestaurant@gmail.com</div>
        </div>
    </div>
</div>
{% endblock %}