/* Sign In */
#auth-form-set > form {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.auth-form-heading {
    --bs-heading-color: #000;
}

.btn-outline-primary {
    @include button-outline-variant(#a48936, #ebe0d6, lighten(#a48936, 5%), #a48936);
}

#auth-form-set > * > ul > li {
    text-align: left;
    font-size: 0.8rem;
}

.errorlist {
    color: red;
    list-style-type: none;
}

.helptext::before {
    content: "\a";
    white-space: pre;
}