@import url("https://fonts.googleapis.com/css2?family=Chango&family=Hi+Melody&family=Julius+Sans+One&family=Ysabeau+Office:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Gabriela&family=Hi+Melody&family=Julius+Sans+One&family=Ysabeau+Office:wght@300&display=swap");

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.8rem;
  }
}

@include media-breakpoint-up(xxl) {
  html {
    font-size: 1.8rem;
  }
}

body {
  font-family: "Gabriela", serif;
}

hr {
  border-top: 3px solid;
  width: 80vw;
  color: #a48936;
}

.topic {
  color: #a48936;
  font-family: Julius Sans One;
  font-weight: 400;
  background-color: #ebe0d6;
  text-align: center;
}
.topic-container {
  width: 100%;
  height: 136px;
  background-color: #ebe0d6;
  padding: 30px;
}

.navbar {
  margin: 5px;
  border: 1px solid #a48936;
  background-color: white;
}

.nav-item {
  font-size: 1.5rem;
  word-wrap: normal;
}

.navbar-light .navbar-nav .nav-link {
  color: #a48936;
}

.jumbotron {
  padding: 0;
}

.jumbotron .container img {
  height: 50%;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

# footer
.footer {
    background-color: #435058
}

.text-muted {
    color: #B79019!important
}
