<div>
    <div>
        <h2>Contact Us</h2>
        <div>
            The Dine Restaurant<br/>
            kungsgatan 1213<br/>
            Stockholm<br/>
            Sweden<br/>
        </div>
        <div>+46 123 256 56</div>
        <div>thedinerestaurant@gmail.com</div>
    </div>
    <div>
        <h2>Opening Hours</h2>
        Monday - Friday<br>
        7am - 10:30am 12pm - 12am<br>

        Saturday<br>
        7:30am - 10:30am<br>
        12pm - 12am<br>

        Sunday<br>
        7:30am - 10:30am<br>
        12pm - 11:30pm<br>

        Christmas Day 12pm - 11:30pm<br>
        Boxing Day 7am - 12am<br>
        New Year's Eve 12pm - 2am<br>
        New Year's Day 7:30am - 11:30pm<br>
    </div>
</div>