<footer class="footer text-center text-lg-start dark-bg fixed-bottom">
    <div class="text-muted text-center">
      <ul class="list-inline pt-3">
            <li class="list-inline-item">
                <a href="{% https://facebook.com %}" target="_blank" rel="noopener" aria-label="visit our facebook page(opens in a new tab)"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a> class="text-muted text-decoration-none">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted text-decoration-none">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted text-decoration-none">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="text-center p-3">
            © 2024 The Dine Restaurant. All rights reserved.
        </div>
    </div>
</footer>