{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row p-5" >
    <div class="text-center">
        <h5>Menu</h5>
    </div>
    <div class="text-center">
        <p>
            If you have a food allergy, intolerance or sensitivity, please speak to your server about ingredients in our
            dishes before you order your meal.
        </p>
    </div>
    <div class="row text-center">
        <div class="col-12 col-md-3">
            <img src="{% static 'images/caviar.webp' %}" class="img-fluid" alt="Menu image">
        </div>
        <div class="col-12 col-md-1" ></div>
        <div class="col-12 col-md-4">
            <img src="{% static 'images/raw_bar.webp' %}" class="img-fluid" alt="Menu image">
        </div>
        <div class="col-12 col-sm-1" ></div>
        <div class="col-12 col-sm-3">
            <img src="{% static 'images/oysters.webp' %}" class="img-fluid" alt="Menu image">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="{% static 'images/snacks.png' %}" class="img-fluid" alt="Menu image">
        </div>
        <div class="col-12 col-md-1" ></div>
        <div class="col-12 col-md-4">
            <img src="{% static 'images/mains.png' %}" class="img-fluid" alt="Menu image">
        </div>
        <div class="col-12 col-md-1" ></div>
        <div class="col-12 col-md-3">
            <img src="{% static 'images/desserts.png' %}" class="img-fluid" alt="Menu image">
        </div>
    </div>
</div>
{% endblock %}