{% extends "base_minimal.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}
<div class="text-center" id="auth-form-set">
    <h6 class="h6 mt-5 mb-3 font-weight-normal">THE DINE RESTAURANT</h6>
        {% if token_fail %}
            <h3 class="h3 mb-3 font-weight-normal auth-form-heading">Bad Token</h3>
        {% else %}
            <h3 class="h3 mb-3 font-weight-normal auth-form-heading">Change Password</h3>
        {% endif %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans 'Change Password' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
</div>
{% endblock content %}
