{% extends "base_minimal.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}
<div class="text-center" id="auth-form-set">
    <h6 class="h6 mt-5 mb-3 font-weight-normal">THE DINE RESTAURANT</h6>
    <h3 class="h3 mb-3 font-weight-normal auth-form-heading">Change Password</h3>
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
