{% extends "base_minimal.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center" id="auth-form-set">
    <h1 class="display-1 fw-bold">404</h1>
    <div class="col-lg-5 mx-auto">
      <p class="lead mb-4">We couldn't find the resource you were looking for</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="tn btn-lg btn-outline-primary mr-1 p-3">
            Home <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
{% endblock content %}